<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="promotion">
	<div id="promotion-wrapper">
		<div>
			<h2>Promote pawn</h2>
			<div id="promotion-list">
				<button data-value="q"><img src="img/pieces/staunty/wq.svg"/></button>
				<button data-value="r"><img src="img/pieces/staunty/wr.svg"/></button>
				<button data-value="b"><img src="img/pieces/staunty/wb.svg"/></button>
				<button data-value="n"><img src="img/pieces/staunty/wn.svg"/></button>
			</div>
		</div>
	</div>
</th:block>
