<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Kingsmarch</title>
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>

<body>
	<th:block th:include="fragments/navigation.html :: navbar" />
	<main id="main-container">
		<a id="sp-btn" class="btn" th:href="@{/sp}">
			<strong>Single player</strong>
			<span>Play against the computer</span>
		</a>
		<a id="mp-btn" class="btn" th:href="@{/mp}">
			<strong>Multiplayer</strong>
			<span>Play against a friend</span>
		</a>
	</main>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script th:src="@{/js/toastify.js}"></script>
	<script th:inline="javascript">
		showAlert(/*[[${error}]]*/ '');
	</script>
</body>

</html>